<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/contact.css">
    <link rel="shortcut icon" href="/images/icons/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap" rel="stylesheet">
    <title>Contact Us</title>
</head>

<body>

    {{>header}}

    <div class="gradient">
        <h1 style="font-family: Segoe UI;">Contact Us.</h1>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
        <div class="column1">
            <img src="/images/icons/map.png">
            <h2>Reach Us</h2>
            <p>BML Munjal University 67th Milestone, NH 48, Kapriwas, Haryana 122413</p>
        </div>
        <div class="column2">
            <img src="/images/icons/phone.png">
            <h2>Call Us</h2>
            <p>+91 233232432</p>
            <p>+91 6964234696</p>
        </div>
        <div class="column3">
            <img src="/images/icons/email.png">
            <h2>Mail Us</h2>
            <p>service@upanah.in</p>
            <p>support@upanah.in</p>
        </div>

    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
{{>footer}}
</body>

</html>