<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/index.css">
  <link rel="shortcut icon" href="/images/icons/favicon.png" type="image/x-icon">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/footer.css">
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap" rel="stylesheet">
  <!-- <script src="/js/home.js"></script> -->
  <title>Page Not Found</title>
  <style>
    .err
    {
        text-align: center;
        font-size: 2vw;
    }
  </style>
</head>

<body>
    {{>header}}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="err">
        <h1>
            404- Page Not Found
        </h1>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    {{>footer}}
  <!-- NAVIGATION -->
  

</body>
</html>