<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="shortcut icon" href="/images/icons/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap" rel="stylesheet">
    <!-- <script src="/js/home.js"></script> -->
    <title>Upanah - Walk in Style</title>
</head>

<body>

    <div class="news_banner">
        <h2>Subscribe to Our Newsletter
            And get 10% off</h2>
        <button onclick="popuptoggle()">Subscribe</button>
    </div>

    <div id="popup">
        <div class="content">
            <img src="/images/icons/popup.png" class="upanah_spl">
            <h2>Join our Newsletter</h2>
            <p>Get 10% off after subscribing to our newsletter</p>
            <input type="email" placeholder="Enter name" id="name_input">
            <input type="email" placeholder="Enter Email" id="email_input">
            <input type="submit" value="Join" id="join_button">
            <a onclick="popuptoggle()" style="cursor: pointer;"><img src="/images/icons/close.png" class="close"></a>
        </div>
    </div>

    <div class="footer">
        <img src="/images/icons/Upanah.png">
        <div class="line">___________________</div>
        <div class="foot_pages">
            <span style="font-weight:bold;">Shop</span>
            <a href="/men"><span>Men</span></a>
            <a href="/women"><span>Women</span></a>
        </div>
        <div class="foot_company">
            <span style="font-weight:bold;">Company</span>
            <a href="/about"><span>About Us</span></a>
            <a href="/contact"><span>Contact Us</span></a>
        </div>
        <div class="social">
            <p>Socials</p>
            <div class="soc_icons">
                <a href="https://www.facebook.com/"><img src="/images/icons/facebook (1).png"></a>
                <a href="https://twitter.com/i/flow/login"><img src="/images/icons/twitter.png"></a>
                <a href="https://www.instagram.com/"><img src="/images/icons/instagram (1).png"></a>
                <a href="https://www.linkedin.com/feed/"><img src="/images/icons/linkedin.png"></a>
            </div>
        </div>
        <div class="map">
            <p>Visit Us</p>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3514.6704527028614!2d76.81143821408557!3d28.247680508147358!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d478e1d59b7fb%3A0xb1787ccb5563c223!2sBML%20Munjal%20University%20(BMU)!5e0!3m2!1sen!2sin!4v1662551703513!5m2!1sen!2sin"
                width="300" height="150" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>


    <script src="/js/slider.js"></script>
    <script src="/js/popup.js"></script>
</body>
</html>