<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/index.css">
  <link rel="shortcut icon" href="/images/icons/favicon.png" type="image/x-icon">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/footer.css">
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap" rel="stylesheet">
  <!-- <script src="/js/home.js"></script> -->
  <title>Upanah - Walk in Style</title>
</head>

<body>

  <!-- NAVIGATION -->
  <div class="header">
    <a href="/"><img src="/images/icons/Upanah.png" alt="Upanah Logo" class="logo"></a>
    <div class="tabs">
      <a href="/">HOME</a>
      <a href="/men">MEN</a>
      <a href="/women">WOMEN</a>
      <a href="/about">ABOUT US</a>
    </div>
    <div class="icons">
      <a href="/login"><img src="/images/icons/profile_white.png" alt="Profile" id="prof_icon"></a>
      <a href="/cart"><img src="/images/icons/shopping_w.png" alt="Cart" id="shop_icon"></a>
    </div>
  </div>

</body>
</html>