body
{
    font-family: 'Nunito';
}

.row1
{
    display: flex;
}
.row2
{
    display: flex;
}
.row3
{
    display: flex;
}

.col1
{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* font-size: 3vw; */
    
    justify-content: center;
    width: 50%;
    padding: 5%;
    /* height: 40vw; */
    color:white;
 
    /* background-color: #D999B9; */
    background-image: linear-gradient(to right,#CB356B,#BD3F32);
}
.col1:hover
{
    background-color: #7771D6;
}

.col2
{
    width: 40%;
}
.col2 img
{
    height: 100%;
    width: 100%;
}

.col3
{
    width: 25%;
    /* height: fit-content; */
    display: flex;
    align-items: center;
    /* background-color: #E0FF4F; */
    background-image: linear-gradient(#F7971E,#FFD200);
    
}


.col3 h1
{
    rotate: 270deg;
    font-size: 5vw;
}

.col4
{
    width: 35%;
    display: flex;
    padding: 10%;
    align-items: center;
    justify-content: center;
    /* background-color: #B8B3E9; */
}

.col4 p
{
    transition: .5s;
}
.col4 p:hover
{
    transform: scale(1.3);
}
.col5
{
    width: 25%;
    /* background-image: linear-gradient(to top,#007991,#78ffd6); */
    background-image: linear-gradient(#56CCF2,#2F80ED);
    /* background-color: #90E0F3; */
   
}
.col5:hover
{
    background-color: #D999B9;
}

.col7
{
    display: flex;
    
    align-items: center;
    /* font-size: 3vw; */
    
    width: 67%;
    /* height: 40vw; */
    color:white;
    /* padding: 3%; */
    /* background-color: #B8B3E9; */
    
    /* font-family: 'Nabla', cursive; */
    /* font-family: 'Fredoka One'; */

    
}

.col6 img
{
    height: 50vw;
    width: 100%;
}

.col8
{
    width: 75%;
    height: 100%;
    display: flex;
    /* padding: 3%; */
    flex-direction: column;
    /* background-color: #7771D6; */
    background-image: linear-gradient(#4568DC,#B06AB3);
}

.row4
{
    display: flex;
    height: 44%;
    /* align-items: center; */
    justify-content: space-evenly;
    padding: 3%;
    /* background-color: antiquewhite; */
    
}

.row4 img
{
    height: 23vw;
}
.row5
{
    height: 45%;
    padding: 3%;
    /* background-color: #D999B9; */
    display: flex;
    justify-content: center;

}
.row5 img
{
    height: 23vw;
}


.col9
{
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #7771D6; */
    background-image: linear-gradient(#4568DC,#B06AB3);
}
.col9 h1
{
    rotate: 90deg;
    font-size: 5vw;
   
}

.h1
{
    transition: transform 1s;
}

.h1:hover
{
    transform: scale(1.5);
}
  
