body
{
    font-family: 'Nunito';
    background-color: black;
}

.gradient
{
    /* background-image: linear-gradient(to right,#f857a6,#ff5858); */
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vw;
}
.gradient h1
{
    background-image:linear-gradient(to right,#007cf0,#00dfd8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container
{
    display: flex;
    /* background-color: bisque; */
    justify-content: space-evenly;
    transition: .5s;
}
.container:hover
{
    transform: scale(.9);
}

.column1
{
    /* background-color: #00dfd8; */
    width: 35%;
    display: flex;
    flex-direction: column;
    color: white;
    transition: 1s;
    align-items: center;
}
.column1:hover
{
    transform: scale(1.3);
}
.column1 h2
{
    background-image:linear-gradient(to right,#4776E6,#8E54E9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.column2:hover
{
    transform: scale(1.3);
}
.column1 p
{
    text-align:center;
    font-weight: bold;
    /* color: white; */
}
.column2
{
    /* background-color: aqua; */
    width: 32%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 1s;
    color: white;
}
.column2 h2
{
    background-image:linear-gradient(to right,#1CD8D2,#93EDC7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.column2 p
{
    text-align:center;
    font-weight: bold;
    /* color: white; */
}
.column3
{
    /* background-color: aquamarine; */
    width: 32%;
     display: flex;
    flex-direction: column;
    align-items: center;
    transition: 1s;
    color: white;
}
.column3:hover
{
    transform: scale(1.3);
}
.column3 h2
{
    background-image:linear-gradient(to right,#f857a6,#ff5858);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.column3 p
{
    text-align:center;
    font-weight: bold;
    /* color: white; */
}
.column1 img,.column2 img,.column3 img 
{
    width: 3vw;
}